// Modal support
.modal
{
  display: none;
  width: 50%;
  border: 1px solid #333;
  background-color: black;
  margin: 0 auto;
  padding: 4% 5% 5%;
  overflow-y: auto;
  height: 60%;
  box-shadow: 0 5px 20px black;

    h2 {
        margin:0 0 1%;
    }

    p {

        margin-bottom: 2%;
        line-height: 1.6;

        &.author {
                        color: #585858;
                        font-style: italic;
                        font-size:98%;
                        margin-bottom: 2%;
                        padding-bottom: 7%;
                        background: url(/img/divider.png) center bottom no-repeat;
                }
                    }

    a[rel="close-modal"] {
        float: right;
        font-size: 300%;
        line-height: 0;
        &:hover {
            cursor: pointer;
        }
    }
}

.hide{
  display: none !important;
}

#lean_overlay
{
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}


// AddThis email modal
#at16p {
    background: none;
}

#at16pi {
    border: none;
}

#at16pib {
    .box-shadow(1px 3px 10px rgba(0, 0, 0, 0.3));
}

#at16lb {
    background-color: black;
    .opacity(50);
}

#at16recap,
#at_msg,
#at16p label,
#at16nms,
#at16sas,
#at_share .at_item,
#at16p,
#at15s,
#at16p form input,
#at16p textarea,
#at16p,
#atie6ifh,
#atie6cmifh {
    font-family: @sansFontFamily;
    font-size: 1em!important;
}

#at_email input,
#at_email textarea,
#at_email label,
 {
    font-size: initial;
}

#at16p,
#atie6ifh,
#atie6cmifh {
    width: 350px;
}

#at16pm {
    height: auto;
    width: 320px;
    padding:5%;
    border: none;
    border: 1px solid @grayLight;
}

#at16pt {
    height: auto;
    background: none;
    padding: 5%;
}

#at_email {
    padding: 5%;
}

#at16pf,
#at16meo {
    display: none;
}

#at16pt h4 {
    font-size: 1.8em;
}

#at16pc form label {
    font-size: 1em !important;
}

#at16p .atbtn,
#at16recap .atbtn,
#at16p .atbtn,
#at16recap .atbtn {
    border: none;
    width: auto!important;
    padding: 3% 15%!important;
    margin: 5% 5px 0 5px!important;
    font-size: 1em!important;
    text-transform: uppercase;
    .border-radius(5px);
    background: @grayDark;
    color: white;

    &:hover {
        background: black;
        color: white;
    }
}

#at16p .atrse,
#at16recap .atrse {
    background: none;
    color: @grayDark;
    border: 1px solid #d6d6d6;
    font-weight: bold!important;
    box-shadow: none;

    &:hover {
        color: #333;
        background-color: @grayLighter;
        border-color: #d6d6d6;
    }
}

#at16pt a {
    text-indent: -9999px;
    width: 20px;
    height: 20px;
    background: url(../img/close.png) center top no-repeat;
    background-size: 15px;
    .opacity(40);

    &:hover {
        .opacity(100);
    }
}

#at_promo .at-promo-content,
#at_testpromo .at-promo-content {
display: none;
}

#at16pc {
font-size: 1.2em;
}

#at16pcc #at_success {
border-bottom: none;
text-align: center;

    a {
        display: none;
    }

}
