@media only screen and (min-width: 1200px) {
  body {
    font-size: 125%;
  }
  #header {
    height: 102px;
  }
  #header #main {
    height: 65px;
  }
  #header #main .home {
    width: 55px;
    height: 55px;
    background-size: 55px;
  }
  #header #main .brand {
    height: 52px;
    background-size: auto 65px;
    padding-left: 35px;
    padding-top: 20px;
  }
  #header #main .icons {
    width: auto;
  }
  #header #sub {
    height: 28px;
    padding-left: 95px;
  }
  #header #sub li {
    font-size: 12px;
  }
  #header #sub li a {
    padding-left: 15px;
    padding-right: 15px;
  }
  #header #sub li.active:after {
    top: 18px;
  }
  #header #sub li.vid a {
    background-position: 9px 10px;
    padding-left: 30px;
  }
  #header #sub li.aud a {
    background-position: 10px 10px;
    padding-left: 31px;
  }
  #header #sub li.com a {
    background-position: 10px 10px;
    padding-left: 29px;
  }
  #container {
    max-width: 1800px;
  }
  #container.intro p,
  #container.intro h1,
  #container p,
  #container h1 {
    max-width: 800px;
  }
  #container .video {
    margin-top: 102px;
  }
  #container ul.grid,
  #container table.grid {
    width: 76%;
    margin-top: 102px;
  }
  #container ul.grid li.audio h2,
  #container table.grid li.audio h2 {
    height: 62px;
  }
  #container .sc-player {
    display: none;
  }
  #container .sc-player ol.sc-trackslist {
    margin-top: 4px;
  }
}
